<!--component-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <my-comp :my-msg="message"></my-comp>
    </div>

    <script> 
        Vue.component('my-comp', {
            template: '<div> {{ myMsg }} </div>',
            props: {
                myMsg: {
                    type: [String, Number],
                    default: 'Default',
                    required: true,
                    validator: function (value) {
                        return value === 'Hello'
                    }
                }
            }
        })

        const vm = new Vue({
            el: '#app',
            data () {
                return {
                    message: 'Hello'
                }
            }
        })
    </script>
</body>
</html>