<!--component-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app1">
        <my-component />
    </div>
    <div id="app2">
        <my-comp />
    </div>

    <script>
        // Component 전역 등록
        // Vue.component('my-component', {
        //     template: '<div class="me">{{ message }}</div>',
        //     data: function () {
        //         return {
        //             message: 'Hello Vue!'
        //         }
        //     }
        // })

        // Component 지역 등록
        const myComp = {
            template: '<div class="me">{{ message }}</div>',
            data: function () {
                return {
                    message: 'Hello Vue!'
                }
            }
        }

        // Component 사용
        const vm1 = new Vue({
            el: '#app1',
            components: {
                'my-component': myComp
            }
        })
        const vm2 = new Vue({
            el: '#app2',
            components: {
                myComp
            }
        })
    </script>
</body>
</html>